/* Jaga-Jaga Ketika Manual CSS dengan Tailwind (index.css) Tidak Berjalan */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#dataSlider .slick-dots li.slick-active div {
  background-color: #ffbf00;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  transform: scale(1.1);
}

#infoSlider .slick-dots li.slick-active div {
  background-color: #660300;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  transform: scale(1.1);
}
