@tailwind base;
@tailwind components;
@tailwind utilities;

base {
  @apply font-lato;
}

@layer components {
  /* width */
  ::-webkit-scrollbar {
    @apply w-2.5;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-stone-400 rounded-md rounded-l-none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gold-neutral rounded-md;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gold;
  }

  .dropdown-scroll::-webkit-scrollbar {
    @apply w-2;
  }

  .dropdown-scroll ::-webkit-scrollbar-track {
    @apply bg-stone-300 rounded-lg;
  }

  .dropdown-scroll::-webkit-scrollbar-thumb {
    @apply bg-maroon-light bg-opacity-70 rounded-md;
  }

  .dropdown-scroll::-webkit-scrollbar-thumb:hover {
    @apply bg-maroon-light;
  }

  .slick-dots .slick-active {
    @apply bg-gold rounded-full flex justify-center items-center w-6 h-6;
  }
  #dataSlider .slick-dots li.slick-active div {
    @apply bg-gold rounded-full flex justify-center items-center w-6 h-6 scale-110;
  }
  #infoSlider .slick-dots li.slick-active div {
    @apply bg-maroon-light rounded-full flex justify-center items-center w-6 h-6 scale-110;
  }
  #bahanSosialisasiSlider .slick-dots li.slick-active div {
    @apply bg-maroon-light rounded-full flex justify-center items-center w-6 h-6 scale-110;
  }
  #bukuPedomanSlider .slick-dots li.slick-active div {
    @apply bg-maroon-light rounded-full flex justify-center items-center w-6 h-6 scale-110;
  }
  #modulSlider .slick-dots li.slick-active div {
    @apply bg-maroon-light rounded-full flex justify-center items-center w-6 h-6 scale-110;
  }

  /* input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }

  input[type="checkbox"]:checked + label::before {
    content: "";
    display: block;
    position: absolute;
    text-align: center;
    height: 20px;
    width: 20px;
    left: 0;
    top: 5px;
    background-color: #fa9e57;
    font-family: "Montserrat";
    border-radius: 2px;
    border: 1px solid rgb(150 150 150 / 30%);
  }

  input[type="checkbox"]:checked + label::after {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="white" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
  } */
}
